fillpdf==0.7.2
inquirer==3.2.1
matplotlib==3.8.2
numpy==1.26.3
opencv-python==4.9.0.80
openpyxl==3.1.2
pandas==2.2.0
parsel==1.8.1
pyarrow==15.0.0
PyMuPDF==1.23.18
pytesseract==0.3.10
pyutils @ git+https://github.com/iagocanalejas/pyutils.git@master
reportlab~=4.0.9
requests==2.31.0
simplemma==0.9.1
tables==3.9.1
