inquirer==3.2.4
matplotlib==3.8.3
numpy==1.26.4
opencv-python==4.9.0.80
openpyxl==3.1.2
pandas==2.2.1
parsel==1.9.0
pyarrow==15.0.0
PyMuPDF==1.23.26
pytesseract==0.3.10
pyutils @ git+https://github.com/iagocanalejas/pyutils.git@master
reportlab==4.1.0
requests==2.31.0
simplemma==0.9.1
tables==3.9.2
